<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아이디 찾기</title>
</head>
<body>
<h1>아이디 찾기</h1>

<form action="#" th:action="@{/find-id}" method="post">
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required>

    <button type="submit">아이디 찾기</button>
</form>

<!-- 오류 메시지 표시 -->
<p th:if="${errorMessage}" th:text="${errorMessage}"></p>

<form th:action="@{/login}" method="get">
    <button type="submit">로그인 페이지로 이동</button>
</form>
</body>
</html>
