<footer>
    <div class="footer-wrapper">
        <div class="footer-box">
            <a href="/"><div class="footer-logo-box"><img src="/image/white_logo.png" alt="아래 로고"></div></a>
            <div id="v-line"></div>
            <ul id="footer-nav">
                <a href="#"><li><div class="footer-nav-item">피부</div></li></a>
                <a href="#"><li><div class="footer-nav-item">퍼스널 컬러</div></li></a>
                <a href="#"><li><div class="footer-nav-item">스킨 케어</div></li></a>
                <a href="#"><li><div class="footer-nav-item">커뮤니티</div></li></a>
            </ul>
            <div id="footer-test">

                <ul id="sns-nav">
                    <a href="https://instagram.com/"><li><img src="/image/instagram_icon.png" alt="instagram"></li></a>
                    <a href="https://facebook.com"><li><img src="/image/facebook_icon.png" alt="facebook"></li></a>
                    <a href="https://twitter.com"><li><img src="/image/x_icon.png" alt="twitter"></li></a>
                    <a href="https://youtube.com"><li><img src="/image/youtube_icon.png" alt="youtube"></li></a>
                </ul>

                <div id="footer-detail">
                    <p class="producer">제작 : 박정원, 백승준, 최민우</p>
                    <p class="email">이메일 : 2021E7373@gs.anyang.ac.kr</p>
                    <p class="address">주소 : 경기도 안양시 만안구 삼덕로37번길 22 (안양동) 안양대학교</p>
                    <p class="copyright">COPYRIGHT (c) 2024 CHROMA SKIN ALL RIGHTS RESERVED.</p>
                </div>
            </div>
        </div>
    </div>
</footer>