<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/content.js" defer></script>
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <div class="wrapper">
        <!-- Header Include -->
        <th:block th:replace="header :: header"></th:block>

        <!-- Main Content -->
        <div id="session">
            <div id="session-title">
                <h3>퍼스널 컬러 진단</h3>
                <hr style="width: 190%;">
                <p>
                    퍼스널 컬러 검사를 통해 당신에게<br>
                    어울리는 색과 스타일을 찾아보세요.
                </p>
            </div>
            <div id="session-content">
                <div id="main-img-box">
                    <div class="image-container">
                        <img class="image" src="/image/session2_img2.jpg" alt="피부 진단 모델">
                    </div>
                </div>

                <div id="main-content-box">
                    <div id="webcam-box">
                        <label class="input-file-button" for="input-webcam">웹캠 촬영하기</label>
                        <button class="input" id="input-webcam">웹캡 촬영하기</button>
                    </div>
                    <div id="file-box">
                        <label class="input-file-button" for="input-file">사진 불러오기</label>
                        <input type="file" id="input-file" class="input"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Include -->
        <th:block th:replace="footer :: footer"></th:block>
    </div>
</body>
</html>